@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=WDXL+Lubrifont+SC&display=swap');
@import "tailwindcss";


@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 350px;
  --breakpoint-md: 500px;
  --breakpoint-lg: 850px;
  --font-Caveat: "Caveat", cursive;
  --font-Lubrifont: "WDXL Lubrifont SC", sans-serif;
}
